#admissionAppTitleGrid {
    background: #efefef;
    padding: 0;
    min-height: 100%;
}

#admissonAppTitleRow {
    background: #A9DBD9;
    padding-top: 4%;
    padding-bottom: 4%;
    min-width: 100%;
}

#admissionAppTitle {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    color: #424242;
}

.stepMainRow {
    border: 2px solid #f0e3dc;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background: #ffffff;
    border-radius: 12px;
}

.stepMainCol {
    padding-top: 3%;
    padding-bottom: 3%;
}

.stepRow {
    min-width: 100%;
}

.stepTitle {
    color: #424242;
    font-size: 90%;
    font-weight: bold;
}

.stepImg {
    height: 80%;
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.stepInfo {
    text-align: left;
    color: #434343;
    font-size: 85%;
}

#simConnnectUrl {
    --color: #44B5B5;
    font-weight: bold;
}

#additionalInfoTitleRow {
    padding-top: 5%;
    padding-bottom: 3%;
}

#additionalInfoTitle {
    padding-left: 3%;
    color: #424242;
    font-size: 100%;
    font-weight: bold;
}

.additionalInfoHeaderRow {
    padding: 0;
    border-top: 2px solid #c8c8c8;
}

.additionalInfoHeaderToolbar {
    --background: #efefef;
}

.additionalInfoHeader {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    color: #424242;
    font-size: 90%;
    font-weight: bold;
}

#beforeApplyInfo {
    background: #ffffff;
}