#courseComparatorHeaderGrid {
    max-width: 30%;
}

#courseComparatorGrid {
    background: #efefef;
    padding: 0;
    min-height: 100%;
}

.courseComparatorRow {
    background: #E4CA9D;
}

.courseComparatorTitleCol {
    position: relative;
}

.courseComparatorTitle {
    font-size: 75%;
    font-weight: bold;
    padding: 0;
    text-align: center;
    color: #424242;
}

.courseComparatorProgCol {
    background: #efefef;
    border: 1px solid #DDDDDD;
}

.courseComparatorUniImg {
    max-width: 50%;
    margin-right: 0;
}

.courseComparatorProgName {
    font-size: 75%;
    font-weight: bold;
    color: #434343;
    text-align: left;
}
    
.horizontalScroll {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
}