.progCourseFilterPopover .popover-content  {
    min-height: 55%;
    max-height: 80%;
    background: #424242;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

#courseFilterPopoverGrid {
    min-height: 100%;
    padding: 2%;
}

.filterCourseHeader {
    font-size: 85%;
    font-weight: bold;
    color: #ffffff;
    padding-left: 2%;
}

.toggleFilterCourseBtnCol {
    padding: 0;
    
}

.toggleFilterCourseBtn {
    color: white;
    font-size: 85%;
}

.progCourseFilterPopover .courseFilterCheckbox {
    --border-radius: 3px;
}

.progCourseFilterPopover .courseFilterLabel {
    padding-left: 2%;
    font-size: 80%;
    color: #efefef;
    text-align: left;
}

.progCourseFilterPopover .courseFilterCountBadge {
    --background: #ffffff;
    --padding-top: 1%;
    --padding-bottom: 1%;
    --padding-start: 1%;
    --padding-end: 1%;
    font-size: 80%;
    --color: #37474F;
    border-radius: 12px;
    text-align: center;
}

.courseFiltersCol {
    padding: 0;
}

.courseFilterList {
    background: #424242;
}

.courseFilterItem {
    --padding-start: 0;
    --background: #424242;
    --max-height: 20%;
    min-width: 100%;
    --inner-border-width: 10px;
}

#courseFilterPopoverBtnRow {
    padding-top: 1%;
    padding-bottom: 1%;
}

#courseFilterPopoverBtnToolbar {
    --background: #424242;
}

#courseProgFilterBtn {
    --color: #efefef;
    margin: 0;
    font-size: 80%;
    --background: #808080;
}