#topBar {
    --background: #40B5B5;
}

#back_button {
    color: #ffffff;
}

#title {
    color: #ffffff;
    font-size: 100%;
}

#text1 {
    font-size: 95%;
    color: #808080;
}

#text2 {
    font-size: 90%;
    color: #808080;
}

#nextBtn {
    --background: #37474F;
    width: 50%;
}