.forgetPwdGrid {
    background: #ffffff;
    padding: 0;
    min-height: 100%;
}

#text1 {
    font-size: 95%;
    color: #808080;
}

#text2 {
    font-size: 90%;
    color: #808080;
}

#newPasswordID, #confirmNewPasswordID {
    font-size: 90%;
}

.passwordErrorMsg {
    color: red;
    font-size: small;
}

#shield_logo {
    font-size: 5em;
    margin-top: 10%;
}

#resetPwdBtn {
    --background: #37474F;
    font-size: medium;
    width: 55%;
}

