#text1 {
    font-size: 95%;
    color: #808080;
}

#text2 {
    font-size: 90%;
    color: #808080;
}

#emailID {
    font-size: 90%;
}

#errorMsg {
    color: red;
    font-size: small;
}

#registeredEmail_logo {
    margin-top: 10%;
}
