#forum-content {
    --background: #EFEFEF;
}

/* Forum Rules */
#forumRulesGrid {
    margin-left: 3%;
}

#important-notice {
    font-weight: bold;
    margin-top: 5%;
}

#forum-rules {
    color: #537A94;
    font-weight: bold;
    margin-top: 3%;
    font-size: 90%;
}

#forum-instructions {
    color: #537A94;
    margin-top: 3%;
    font-size: 80%;
}

#forum-checkbox-container {
    margin-top: 10%;
    --background: #EFEFEF;
    --inner-border-width: 0;
}

#forum-checkbox-text {
    font-size: 75%;
}

#forumRulesBtn {
    --background: #37474F;
    margin-top: 10%;
}

/* View Forum */
.forum-container {
    margin-bottom: 3%;
}


#forum-searchbar-container {
    --background: #A9DBD9;
}

#forum-searchbar {
    --border-radius: 5px;
}

#forum-heading-container {
    --background: transparent;
}

#forum-heading {
    font-size: 90%;
    font-weight: bold;
    color: #434343;
    padding-left: 1%;
}

.forum-container {
    padding: 3%;
}

.forum-question {
    font-size: 90%;
    font-weight: bold;
    color: #434343;
}

.forum-col {
    padding: 0;
}

.forum-question-details {
    font-size: 75%;
}

#forum-question-flagBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
    float: right;
    margin-bottom: -10%;
}

#forum-question-detail-container {
    margin-top: 5%;
}

#forum-userName {
    font-style: italic;
    color: #434343;
    margin-top: 3%;
}

#forum-informationBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
    float: right;
}

#popover-infoDetails {
    color: #434343;
    margin-top: 5%;
    font-size: 80%;
}

.forum-segmentBtn {
    max-width: 100%;
}

/* Post Question Modal */
.post-question-modal {
    --max-height: 60%;
    --max-width: 90%;
    --border-radius: 3%;
}

#postQns-modal-container {
    width: 100%;
}

#postQns-title {
    font-weight: bold;
    color: #434343;
    font-size: 90%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: -6%;
}

#postQns-modal-inputArea {
    height: 70%;
    border: 1px solid #C8C8C8;
    margin: 3% 0%;
}

#postQns-close-button {
    --border-color: #37474F;
    color: #37474F;
    width: 30%;
}

#postQns-post-button {
    --background: #37474F;
    width: 30%;
}

/* Forum User */
#forumUser-ionRowCol {
    padding: 0;
}

.forumUser-heading {
    --background: #65979E;
    --indicator-color: transparent;
    --background-checked: #5f777E;
    text-align: center;
    --color: white;
    --color-checked: white;
    font-size: 70%;
    font-weight: bold;
    --border-color: transparent;
    max-width: 100%;
}

/* Forum User - My Questions/Comments */
#forumQnsCom-tableGrid {
    padding: 0;
    overflow-x: scroll !important;
}

#forumQnsCom-tableHeader {
    font-weight: bold;
    text-align: center;
}

.forumQnsCom-Header {
    border: 1px solid #C8C8C8;
    text-align: center;
    min-width: 15%;
    font-size: 72%;
    padding: 2% 0%;
}

.forumQnsCom-Data {
    border: 1px solid #C8C8C8;
    text-align: center;
    min-width: 15%;
    font-size: 70%;
}

.forumQnsCom-DataBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
}

/* Forum View Question */
#forum-addCommentBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
    float: right;
}

#add-comment-container {
    background: #DBE1E7;
    margin-top: -3%;
    padding: 0% 3%;
}

#addComment-commentText {
    font-weight: bold;
    font-size: 90%;
}

/* No Comment at Forum View Question */
#no-comment-text {
    font-size: 90%;
    margin-top: 45%;
    margin-bottom: 45%;
}

/* When there's 2 comment at Forum View Question */
#comment-main-container {
    padding: 0;
}

#comment-text {
    font-size: 80%;
}

#comment-userName {
    font-size: 80%;
    font-style: italic;
    color: #434343;
    margin-top: 3%;
}

#comment-details {
    font-size: 75%;
}

#comment-detail-container {
    margin-top: 5%;
}

#comment-replyBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
    margin-bottom: -5%;
    text-transform: none !important;
}

#comment-flagBtn {
    --background: transparent;
    --color: black;
    --box-shadow: transparent;
    float: right;
    margin-bottom: -15%;
}

#comment-list {
    margin-bottom: 3%;
    background: #E6EAEE;
}

/* When there's a reply to the comment */
#comment-reply-container {
    background: white;
    margin: 3%;
    border-radius: 10px;
}
