:root {
    /* Set the font family of the entire app */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Arial", "Helvetica", sans-serif;
}

.otpBtn {
    --background: #37474F;
    width: 50%;
    font-size: medium;
}