#toolBar {
    --background: #44B5B5;
}

#title {
    color: white;
    font-size: 100%;
}

#backBtn {
    color: white;
}

.inputField {
    font-size: 90%;
    border-bottom: 1px solid #C8C8C8;
}

#login_loginBtn {
    --background: #37474F;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
}