#registration_registrationBtn {
    --background: #37474F;
    width: 50%;
    height: 50px;
    font-size: 100%;
}

#registration_googleBtn {
    --background: #4185F4;
    height: 50px;
    margin: 5% 0%;
    width: 70%;
}

#registration_facebookBtn {
    --background: #4267B3;
    margin-bottom: 5%;
    height: 50px;
    width: 70%;
}

.inputField {
    font-size: 90%;
    border-bottom: 1px solid #C8C8C8;
}

.errorMessage {
    color: red;
    font-size: small;
    margin-top: 5%;
}

#highestQualificationLabel, #nationalityLabel {
    font-size: 90%;
}

#registration-check {
    --inner-border-width: 0;
}