/* Student Life Main */
.studentLife-content {
    --background: #EFEFEF;
}

#studentLifeMain-grid {
    padding: 0;
    min-height: 100%;
}

.studentLifeMain-row {
    padding-top: 3%;
}

.studentLifeMain-col {
    padding-top: 3%;
    padding-bottom: 3%;
}

.studentLifeMain-icons {
    color: #434343;
}

.studentLifeMain-text {
    color: #434343;
    text-align: center;
    font-size: 80%;
    margin-top: 10%;
}

/* Clubs & Councils@SIM */
.clubsCouncils-img {
    width: 30%;
    height: 30%;
}

#clubsCouncils-grid {
    padding: 0;
    min-height: 100%;
}

.clubsCouncils-row {
    padding-top: 3%;
}

.clubsCouncils-col {
    padding-top: 3%;
    padding-bottom: 3%;
}

.clubsCouncils-text {
    color: #434343;
    text-align: center;
    font-size: 80%;
    margin-top: 10%;
}

/* Clubs & Councils@SIM's Details */
.clubsCouncils-list {
    margin: 3%;
    border-radius: 10px;
}

.clubsCouncils-thumbnail {
    --border-radius: 10px;
    --size: 100%;
}

.clubsCouncils-details-grid {
    padding-top: 0;
    padding-bottom: 0;
}

.clubsCouncils-details-heading {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 3%;
}

.clubsCouncils-details-description {
    font-size: 80%;
}

/* Student Care */
#studentCare-topHeader-container {
    background: #a9dbd9;
    padding-top: 4%;
    padding-bottom: 4%;
}

#studentCare-grid {
    padding: 0;
    min-height: 100%;
}

#studentCare-topHeader-text {
    font-size: 90%;
    color: white;
    font-weight: bold;
    padding-left: 1%;
}

#studentCare-description {
    font-size: 80%;
    color: #424242;
    padding: 2% 1%;
}

.studentCare-tripThumbnail {
    --border-radius: 10px;
    --size: 100%; 
}

.studentCare-tripText {
    font-size: 80%;
    text-align: center;
    font-style: italic;
    color: #808080;
    margin-top: 3%;
}

#studentCare-trip-container {
    margin: 3% 0%;
}

.studentCare-list {
    margin: 3%;
    border-radius: 10px;
}

.studentCare-thumbnail {
    --border-radius: 10px;
    --size: 90%;
}

.studentCare-details-grid {
    padding-top: 0;
    padding-bottom: 0;
}

.studentCare-details-heading {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 3%;
    text-transform: uppercase;
    color: #424242;
}

.studentCare-details-description {
    font-size: 80%;
    color: #434343;
}

/* Scholarships */
#scholarships-ionRowCol {
    padding: 0;
}

.scholarships-heading {
    --background: #e8d091;
    --indicator-color: transparent;
    --background-checked: #a9dbd9;
    text-align: center;
    --color: #424242;
    --color-checked: #424242;
    font-size: 70%;
    font-weight: bold;
    --border-color: transparent;
    max-width: 100%;
    width: 50%;
    padding: 1% 0%;
}

#scholarship-grid {
    padding: 0;
}

.scholarship-mainRow {
    background: white;
    padding: 0% 2%;
}

#scholarship-FAQ-button {
    --background: transparent;
    --color: #424242;
    --box-shadow: transparent;
    font-weight: bold;
    margin-bottom: 2px;
    float: right;
}

.scholarship-mainHeading {
    font-size: 90%;
    font-weight: bold;
    color: #424242;
}

.scholarship-mainDescription {
    font-size: 80%;
    color: #808080;
    padding: 1% 1% 3% 1%;
}

.scholarship-toggle-button {
    --background: transparent;
    --color: #424242;
    --box-shadow: transparent;
    margin-top: 5%;
    margin-bottom: 2%;
    float: right;
    padding: 0% 2%;
}

.scholarship-toggle-header {
    font-size: 90%;
    font-weight: bold;
    color: #424242;
    padding: 5% 2%;
}

.scholarship-toggle-container {
    padding: 0;
}

.scholarship-categories-header {
    font-size: 85%;
    color: #4F6571;
    font-weight: bold;
    margin-top: 3%;
}

.scholarship-description {
    font-size: 80%;
    color: #434343;
    padding: 3%;
    text-align: left;
}

.scholarship-toggle-details-container {
    background: white;
}

.scholarship-inner-row {
    border-top: 2px solid #C8C8C8;
}

.scholarship-unorderedList {
    padding-left: 4%;
    padding-right: 3%;
}

.scholarship-unorderedList-description {
    padding-bottom: 2%;
}

.scholarship-tenure-col {
    border: 1px solid #C8C8C8;
}

#tenure-months, #tenure-programmeTitle {
    text-align: center;
}

.tenure-headings {
    font-weight: bold;
    color: #424242;
}

.tenure-descriptions {
    color: #434343;
}

#scholarship-moreInfo {
    padding: 5% 3% 3% 3%;
    font-size: 90%;
    color: #424242;
    border-top: 2px solid #C8C8C8;
    font-weight: bold;
}

/* Bursary */
#bursary-ionRowCol {
    padding: 0;
}

.bursary-heading {
    --background: #e8d091;
    --indicator-color: transparent;
    --background-checked: #a9dbd9;
    text-align: center;
    --color: #424242;
    --color-checked: #424242;
    font-size: 70%;
    font-weight: bold;
    --border-color: transparent;
    max-width: 100%;
    width: 50%;
    padding: 1% 0%;
}

#bursary-grid {
    padding: 0;
}

.bursary-mainRow {
    background: white;
    padding: 0% 2%;
}

#bursary-FAQ-button {
    --background: transparent;
    --color: #424242;
    --box-shadow: transparent;
    font-weight: bold;
    margin-bottom: 2px;
    float: right;
}

.bursary-mainHeading {
    font-size: 90%;
    font-weight: bold;
    color: #424242;
}

.bursary-mainDescription {
    font-size: 80%;
    color: #808080;
    padding: 1% 1% 3% 1%;
}

.bursary-toggle-button {
    --background: transparent;
    --color: #424242;
    --box-shadow: transparent;
    margin-top: 5%;
    margin-bottom: 2%;
    float: right;
    padding: 0% 2%;
}

.bursary-toggle-header {
    font-size: 90%;
    font-weight: bold;
    color: #424242;
    padding: 5% 2%;
}

.bursary-toggle-container {
    padding: 0;
}

.bursary-description {
    font-size: 80%;
    color: #434343;
    padding: 3%;
    text-align: left;
}

.bursary-toggle-details-container {
    background: white;
}

.bursary-inner-row {
    border-top: 2px solid #C8C8C8;
}

.bursary-unorderedList {
    padding-left: 4%;
    padding-right: 3%;
}

.bursary-unorderedList-description {
    padding-bottom: 2%;
}

#bursary-moreInfo {
    padding: 5% 3% 3% 3%;
    font-size: 90%;
    color: #424242;
    border-top: 2px solid #C8C8C8;
    font-weight: bold;
}