/* Student Life Main */
.studentLife-content {
    --background: #EFEFEF;
}

#studentLifeMain-grid {
    padding: 0;
    min-height: 100%;
}

.studentLifeMain-row {
    padding-top: 3%;
}

.studentLifeMain-col {
    padding-top: 3%;
    padding-bottom: 3%;
}

.studentLifeMain-icons {
    color: #434343;
}

.studentLifeMain-text {
    color: #434343;
    text-align: center;
    font-size: 80%;
    margin-top: 10%;
}

/* Clubs & Councils@SIM */
.clubsCouncils-img {
    width: 30%;
    height: 30%;
}

#clubsCouncils-grid {
    padding: 0;
    min-height: 100%;
}

.clubsCouncils-row {
    padding-top: 3%;
}

.clubsCouncils-col {
    padding-top: 3%;
    padding-bottom: 3%;
}

.clubsCouncils-text {
    color: #434343;
    text-align: center;
    font-size: 80%;
    margin-top: 10%;
}

/* Clubs & Councils@SIM's Details */
.clubsCouncils-list {
    margin: 2%;
    border-radius: 10px;
}

.clubsCouncils-thumbnail {
    --border-radius: 10px;
    --size: 100%;
}

.clubsCouncils-details-grid {
    padding-top: 0;
    padding-bottom: 0;
}

.clubsCouncils-details-heading {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 3%;
}

.clubsCouncils-details-description {
    font-size: 80%;
}